body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
  }
  
  header {
    background-color: #333;
    color: #FFF;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    margin: 20px auto;
    max-width: 600px;
  }
  
  section {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #333;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #222;
  }
  
  span {
    font-weight: bold;
    font-size: 1.2em;
  }
  